.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.submit {
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 8px;
  background: var(--main-gradient);
  border-radius: 8px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
  transition: background 0.4s;
}

.submit:hover {
  background: var(--primary-text-color);
  cursor: pointer;
  color: var(--background-color);
}

.submit:focus {
  outline: 2px solid;
  outline-offset: 2px;
  outline-color: var(--primary-text-color);
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  align-items: center;
}

.header {
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);
}

.link {
  font-size: 14px;
  color: var(--sub-text-color);
  text-decoration: none;
}

.link:hover {
  font-size: 14px;
  text-decoration: underline;
  color: var(--primary-text-color);
}
