.auth-loader {
  height: 30vh;
}

.loader {
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--accent-text-color);
  border-right-color: var(--accent-text-color);
  border-bottom-color: var(--accent-text-color);
  overflow: hidden;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
