.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: fit-content;
  overflow-y: auto;
  padding: 64px;
  margin: 0;
  background: var(--background-color);
}

.loginContainer {
  padding: 48px;
  background-color: var(--contrast-color);
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  outline: solid 2px;
  outline-color: var(--sub-text-color);
  outline-offset: 4px;
  border-radius: 8px;
  width: 480px;
  gap: 32px;
}

.logo {
  width: 180px;
}
