.pre-loader {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  z-index: 9999;
  overflow: hidden;
}

.logo-box {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: fit-content;
}

img {
  width: 100%;
}

@media (max-width: 900px) {
  .logo-box {
    width: 230px;
  }
}

@media (max-width: 400px) {
  .logo-box {
    width: 50%;
  }
}
