.react-international-phone-country-selector {
  position: relative;
}
.react-international-phone-country-selector-button {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-right: 1px solid var(--background-color);
  margin: 0;
  appearance: button;
  -webkit-appearance: button;
  background-color: var(--contrast-color);
  cursor: pointer;
  text-transform: none;
  user-select: none;
  transition: 0.4s;
}
.react-international-phone-country-selector-button:hover {
  background: var(--common-text-color);
  border: none;
}

.react-international-phone-country-selector-button--hide-dropdown {
  cursor: auto;
}
.react-international-phone-country-selector-button--hide-dropdown:hover {
  background-color: transparent;
}

.react-international-phone-country-selector-button__button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.react-international-phone-country-selector-button__flag-emoji {
  margin: 0 8px;
  padding: 2px;
}
.react-international-phone-country-selector-button__flag-emoji--disabled {
  opacity: 0.75;
}
.react-international-phone-country-selector-button__dropdown-arrow {
  border-top: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid var(--common-text-color);
  border-right: var(
      --react-international-phone-country-selector-arrow-size,
      4px
    )
    solid transparent;
  border-left: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid transparent;
  margin-right: 8px;
  transition: all 0.1s ease-out;
}

.react-international-phone-country-selector-button:hover
  .react-international-phone-country-selector-button__dropdown-arrow {
  border-top: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid var(--contrast-color);
  border-right: var(
      --react-international-phone-country-selector-arrow-size,
      4px
    )
    solid transparent;
  border-left: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid transparent;
}

.react-international-phone-country-selector-button__dropdown-arrow--active {
  transform: rotateX(180deg);
}
.react-international-phone-country-selector-button__dropdown-arrow--disabled {
  border-top-color: var(
    --react-international-phone-disabled-country-selector-arrow-color,
    #999
  );
}
.react-international-phone-country-selector-button--disabled {
  background-color: var(
    --react-international-phone-disabled-country-selector-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
  cursor: auto;
}
.react-international-phone-country-selector-button--disabled:hover {
  background: var(--common-text-color);
}
.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 24px);
  height: var(--react-international-phone-flag-height, 24px);
  box-sizing: border-box;
}
.react-international-phone-country-selector-dropdown {
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  display: flex;
  width: 280px;
  max-height: 180px;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  background-color: var(--contrast-color);
  color: var(--common-text-color);
  list-style: none;
  overflow-y: scroll;
  border: none;
}

.react-international-phone-country-selector-dropdown:focus {
  outline: none;
}

.react-international-phone-country-selector-dropdown::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  padding: 2px;
  display: none;
}

.react-international-phone-country-selector-dropdown::-webkit-scrollbar-track {
  background: transparent;
  width: fit-content;
  padding: 2px;
}

.react-international-phone-country-selector-dropdown::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 6x;
  background: var(--main-gradient);
}

.react-international-phone-country-selector-dropdown__preferred-list-divider {
  height: 1px;
  border: none;
  margin: var(
    --react-international-phone-dropdown-preferred-list-divider-margin,
    0
  );
  background: var(--background-color);
}
.react-international-phone-country-selector-dropdown__list-item {
  display: flex;
  min-height: var(--react-international-phone-dropdown-item-height, 28px);
  box-sizing: border-box;
  align-items: center;
  padding: 2px 8px;
}
.react-international-phone-country-selector-dropdown__list-item-flag-emoji {
  margin-right: 8px;
  padding: 4px;
}
.react-international-phone-country-selector-dropdown__list-item-country-name {
  overflow: hidden;
  margin-right: 8px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: (--contrast-color);
}

.react-international-phone-country-selector-dropdown__list-item:hover {
  background: var(--common-text-color);
  color: var(--contrast-color);
  cursor: pointer;
}
.react-international-phone-country-selector-dropdown__list-item--selected,
.react-international-phone-country-selector-dropdown__list-item--focused {
  background: var(--common-text-color);
  color: var(--contrast-color);
}
.react-international-phone-country-selector-dropdown__list-item--selected
  .react-international-phone-country-selector-dropdown__list-item-dial-code,
.react-international-phone-country-selector-dropdown__list-item--focused
  .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--contrast-color);
}
.react-international-phone-country-selector-dropdown__list-item--selected
  .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--contrast-color);
}

.react-international-phone-country-selector-dropdown__list-item--focused {
  color: var(--contrast-color);
}
.react-international-phone-dial-code-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: 1px solid var(--contrast-color);
  margin-right: -1px;
  background-color: var(--common-text-color);
  color: var(--contrast-color);
}
.react-international-phone-dial-code-preview--disabled {
  background-color: var(--common-text-color);
  color: var(--contrast-color);
}
.react-international-phone-input-container {
  width: 100%;
  display: flex;
  height: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
  border-radius: 8px;
}

.input-box {
  border-radius: 8px;
  width: 100%;
  height: 60px;
}

.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 100%;
}
.react-international-phone-input-container .react-international-phone-input {
  overflow: visible;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 0px 16px 16px;
  border: none;
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin: 0;
  background-color: var(--contrast-color);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  width: 100%;
  font-size: var(--paragraph-font-size);
}
.react-international-phone-input-container
  .react-international-phone-input:focus {
  outline: none;
}
.react-international-phone-input-container
  .react-international-phone-input--disabled {
  width: 100%;
  background-color: var(--background-color);
  color: var(--common-text-color);
}

.phone-input {
  width: 100%;
}
