.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0px 16px;
  padding-bottom: 32px;
  overflow: visible;
}

.profile {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;
}

.profile-image-box {
  overflow: visible;
}

.mid-profile-image {
  width: 40px;
  height: 40px;
  background: var(--main-gradient);
  border-radius: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  cursor: pointer;
  transition: backdrop-filter 0.4s;
}

.mid-profile-image:focus {
  outline-offset: -1px;
}

.mid-profile-image:hover {
  filter: brightness(120%);
}

.user-icon {
  font-size: 30px;
  color: #f5f5f5;
  text-align: center;
  line-height: 0;
  padding: 0px;
}

.profile-data {
  transition: 0.4s;
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 0px;
  padding-right: 32px;
}

.profile-name {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.profile-email {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}

.profile-data > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .profile-name {
    text-align: left;
  }
}
