.padding-box {
  padding-right: 30px;
}

.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 16px;
  margin-bottom: 32px;
  overflow: visible;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  cursor: pointer;
  transition: backdrop-filter 0.4s;
}

.profile-box:hover {
  backdrop-filter: brightness(var(--accent-brightness));
}

.profile-box:focus {
  backdrop-filter: brightness(var(--accent-brightness));
}

.profile {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;
}

.profile-icon {
  font-size: 28px;
  line-height: 1;
  color: #f5f5f5;
}

.profile-image-box {
  overflow: visible;
}

.mid-profile-image {
  width: 40px;
  height: 40px;
  background: var(--main-gradient);
  border-radius: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  cursor: pointer;
  transition: filter 0.4s;
}

.profile-data {
  transition: 0.4s;
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 0px;
  padding-right: 32px;
}

.profile-name {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.profile-email {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .profile-name {
    text-align: left;
  }
}
