.link {
  font-size: 14px;
  color: var(--sub-text-color);
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  color: var(--primary-text-color);
}
