.dashboard {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  --sidebar-width: 260px;
  --collapse-sidebar-width: 100px;
}

.collapse {
  --sidebar-width: var(--collapse-sidebar-width);
}

.main-content {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  padding-left: var(--sidebar-width);
}

.content {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .main-content {
    overflow-x: auto;
    padding-left: var(--collapse-sidebar-width);
  }
  .content {
    padding: 32px;
    min-width: 540px;
  }
}
