.folder-item {
  width: 100%;
}

.folder-bg {
  background: var(--main-gradient);
}

.folder-a {
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  padding: 8px 16px;
  padding-right: 20px;
  border: none;
  transition: 0.4s;
  align-items: center;
}

.folder-a-active {
  padding: 16px;
  backdrop-filter: brightness(140%);
}

.folder-a:hover {
  padding: 16px;
  backdrop-filter: brightness(140%);
}

.folder-icon-box {
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.folder-icon {
  line-height: 0;
  font-size: 20px;
  color: #f5f5f5;
}

.folder-text-btn {
  width: 100%;
  font-weight: 500;
  color: var(--primary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;
}
