.nav-item {
  width: 100%;
  min-width: 72px;
}

.nav-bg {
  background: var(--main-gradient);
}

.nav-a {
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  height: fi;
  cursor: pointer;
  background: transparent;
  padding: 8px 16px;
  border: none;
  transition: 0.4s;
  align-items: center;
}

.nav-a-active {
  padding: 16px;
  backdrop-filter: brightness(140%);
}

.nav-a:focus {
  padding: 16px;
  backdrop-filter: brightness(140%);
}

.nav-a:hover {
  padding: 16px;
  backdrop-filter: brightness(140%);
}

.nav-icon-box {
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  line-height: 0;
  font-size: 20px;
  color: var(--common=text-color);
}

.nav-text-btn {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .nav-a {
    flex-direction: row;
  }
}
