.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
}

.header {
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);
}

.cards {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.card {
  flex-direction: row;
  outline: solid 1px var(--common-text-color);
  padding: 10px 24px;
  padding-right: 0px;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start;
  transition: background 0.4s;
  cursor: pointer;
}

.card:hover {
  backdrop-filter: brightness(130%);
}

.cardSelected {
  outline: solid 3px var(--accent-text-color);
  border-radius: 8px;
}

.cardIcon {
  padding: 32px;
  width: fit-content;
}

.cardIcon i {
  font-size: 20px;
  line-height: 1;
}

.cardTitle {
  color: var(--common-text-color);
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.cardDescription {
  font-size: 13px;
  line-height: 160%;
  color: var(--sub-text-color);
}

.cardContent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.link {
  font-size: 14px;
  color: var(--sub-text-color);
  text-decoration: none;
}

.link:hover {
  font-size: 14px;
  text-decoration: underline;
  color: var(--primary-text-color);
}

.submit {
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 8px;
  background: var(--main-gradient);
  border-radius: 8px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
  transition: background 0.4s;
  text-align: center;
  text-decoration: none;
}

.submit:hover {
  background: var(--primary-text-color);
  cursor: pointer;
  color: var(--background-color);
}
