.form-width {
  width: 400px;
  height: fit-content;
}

@media (max-width: 1050px) {
  .form-width {
    width: 100%;
    max-width: 540px;
  }
  .mobile-breakpoint-box {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 580px) {
  .mobile-breakpoint-box {
    height: fit-content;
  }
  .form-width {
    width: 100%;
    min-width: 320px;
  }
}

@media (max-width: 370px) {
  .mobile-breakpoint-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}
