.loader {
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--accent-text-color);
  border-right-color: var(--accent-text-color);
  border-bottom-color: var(--accent-text-color);
  overflow: hidden;
  animation: spin 3s linear infinite;
}

.loader-box {
  margin-left: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  transition: 0.4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .loader-box {
    min-width: 540px;
    margin-left: 100px;
  }
}
