.light-theme {
  --main-gradient: linear-gradient(88deg, #0f59b2 5.61%, #00ccf5 94.39%);
  --primary-text-color: #00010b;
  --accent-text-color: #0f59b2;
  --common-text-color: #4b4a4a;
  --sub-text-color: #6b6b6b;
  --background-color: #e4e2e2;
  --contrast-color: #f5f5f5;
  --error-red: rgb(199, 37, 37);
  --error-yellow: rgb(199, 134, 37);
  --error-green: rgb(37, 199, 37);
}

.dark-theme {
  --main-gradient: linear-gradient(45deg, #0f59b2 5.61%, #00ccf5 94.39%);
  --primary-text-color: #f5f5f5;
  --accent-text-color: #00ccf5;
  --common-text-color: #d1d1d1;
  --sub-text-color: #929292;
  --background-color: #16171f;
  --contrast-color: #212331;
  --error-red: rgb(236, 78, 78);
  --error-yellow: rgb(245, 166, 47);
  --error-green: rgb(37, 199, 37);
}

.app {
  --paragraph-font-size: 16px;
  --small-headline-font-size: 30px;
}

* {
  font-family: "Montserrat", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.accent-text {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--main-gradient);
  -webkit-text-fill-color: transparent;
}

.app {
  width: 100%;
  transition: background 0.4s;
  background-color: var(--background-color);
  max-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: top;
  min-width: 320px;
  color: var(--primary-text-color);
  background: var(--background-color);
  overflow-y: scroll;
  scroll-padding-block: 2px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app::-webkit-scrollbar {
  background-color: var(--background-color);
  height: 8px;
  width: 6px;
}

.app::-webkit-scrollbar-thumb {
  background-color: var(--accent-text-color);
  border-radius: 8px;
}

.flex-row-center {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0px;
}

.column {
  min-height: 100vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.content-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.box {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.fit-width-inline {
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.big-gap {
  gap: 64px;
}

.mid-gap {
  gap: 32px;
}

.small-gap {
  gap: 16px;
}

.mini-gap {
  gap: 8px;
}

.micro-gap {
  gap: 4px;
}

.vertical-padding {
  padding: 64px 0px;
}

.align-left {
  align-items: flex-start;
  text-align: left;
}

.button-bg {
  background-color: var(--common-text-color);
  border-radius: 8px;
}

.cta-button {
  width: 100%;
  padding: 16px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 8px;
  background: var(--main-gradient);
  transition: 0.4s;
  cursor: pointer;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 16px;
}

.cta-button:hover {
  background: var(--common-text-color);
  color: var(--contrast-color);
}

.gradient-bg {
  background: var(--main-gradient);
}

.inline-column {
  flex: 1 1 1;
  width: 100%;
}

.inline-flex-center {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.inline-flex-top {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: start;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: end;
}

.paragraph {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--paragraph-font-size);
  color: var(--common-text-color);

  line-height: 160%;
}

.no-text-wrap {
  text-wrap: none;
}

.cta-text {
  text-decoration: none;
  color: var(--common-text-color);
  font-weight: 600;
  cursor: pointer;
}

.cta-text:hover {
  text-decoration: underline;
}

.small-headline {
  font-weight: 600;
  font-size: var(--small-headline-font-size);
  line-height: 160%;
}

.mini-headline {
  font-weight: 600;
  font-size: 24px;
}

.text-input {
  width: 100%;
  height: 60px;
  color: var(--primary-text-color);
  display: flex;
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  font-weight: 400;
  background: var(--contrast-color);
  border: none;
  font-size: var(--paragraph-font-size);
  border: 2px solid var(--accent-text-color) inset;
}

.mini-text-input {
  width: 100%;
  height: fit-content;
  font-size: var(--paragraph-font-size);
  background-color: transparent;
  border: none;
  color: var(--common-text-color);
  font-weight: 400;
  padding: 2px;
  border-bottom: solid 1px var(--accent-text-color);
}

.mini-text-input:focus {
  border: none;
  border-bottom: solid 1px var(--accent-text-color);
  outline: none;
  background-color: var(--contrast-color);
}

.fill {
  width: 100%;
}

.invisible-btn {
  width: fit-content;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
}

.invisible-btn:focus {
  border: none;
  outline: none;
}

.input-inset-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
}

.info-text {
  font-weight: 400;
}

.error-text {
  font-weight: 400;
  color: var(--error-red);
}

@media (max-width: 800px) {
  .flex-row-center {
    flex-direction: column;
  }
  .content-box {
    text-align: center;
  }
  .column {
    width: 100%;
    height: fit-content;
  }
  .app {
    overflow-x: hidden;
  }
  .vertical-padding {
    padding: 64px 0px 96px 0px;
  }
  .small-headline {
    text-align: left;
  }
}

@media (max-width: 580px) {
  .app {
    --paragraph-font-size: 3.6vw;
    --small-headline-font-size: 6vw;
  }
  .vertical-padding {
    padding: 64px 0px 64px 0px;
  }
}

@media (max-width: 450px) {
  .app {
    --paragraph-font-size: 3.9vw;
    --small-headline-font-size: 6.8vw;
  }
  .mobile-column > * {
    width: fit-content;
  }
  .mobile-column {
    flex-wrap: wrap-reverse;
    text-wrap: none;
    gap: 8px;
  }
}

@media (max-width: 320px) {
  .app {
    --paragraph-font-size: 4.5vw;
    --small-headline-font-size: 7.8vw;
  }
}

@media (max-width: 290px) {
  .app {
    --paragraph-font-size: 5vw;
  }
}
