.title {
  text-align: center;
  color: var(--primary-text-color);
}

.text {
  color: var(--sub-text-color);
}

.register-container {
  width: 350px;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  text-align: center;
}

.register-motion-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.logo {
  width: 165px;
  height: 51px;
}

.google {
  display: none;
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border: none;
  background: var(--contrast-color);
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.4s ease-out;
  z-index: 1;
}

.google:hover {
  background: var(--common-text-color);
  color: var(--contrast-color);
  cursor: pointer;
  scale: 1.005;
  transition: 0.2s;
}

.hide {
  display: none;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding: 16px 0;
}

.divider > hr {
  height: 2px;
  color: var(--sub-text-color);
  width: 100%;
}

.divider > .text {
  color: var(--common-text-color);
  width: fit-content;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headline h2 {
  font-size: 20px;
  font-weight: 600;
}

.login form {
  width: 100%;
}

.inputs {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.label label {
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-input {
  color: var(--primary-text-color);
  display: flex;
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  font-weight: 400;
  background: var(--contrast-color);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
  border: none;
}

.phone-input {
  width: 100%;
}

.label input::placeholder {
  color: var(--sub-text-color);
  font-weight: 400;
}

.recovery {
  padding-top: 8px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.remember {
  display: inline-flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.remember-text {
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.recovery a {
  text-decoration: none;
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: end;
}

.recovery a:hover {
  text-decoration: none;
  text-decoration: underline;
}

.accent-text {
  background-image: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-text-color);
}

.cta-button {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: none;
  background: var(--main-gradient);
  color: #f5f5f5;
  font-weight: 700;
  transition: 0.4s ease-out;
}

.cta-button:hover {
  background: var(--common-text-color);
  color: var(--contrast-color);
  cursor: pointer;
}

.bg-button {
  transition: 0.4s;
  background-color: #4b4a4a;
  content: "";
  width: 100%;
  padding: 0;
  border-radius: 8px;
  height: fit-content;
  overflow: hidden;
  outline: 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.register {
  display: flex;
  align-items: start;
  gap: 8px;
  align-self: stretch;
}

.register-text {
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register-cta {
  text-decoration: none;
  color: var(--common-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.4s;
}

.register-cta:hover {
  color: var(--primary-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
  text-decoration: underline;
}

.info-box {
  display: inline-flex;
  flex-direction: row;
}

.error-box {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 16px 0px;
}

.error-text {
  color: var(--error-red);
  font-weight: 600;
  font-size: 14px;
}

.error-icon {
  width: 17px;
  height: 17px;
  fill: var(--error-red);
}

.msg-box {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 16px 0px;
}

.msg-text {
  color: var(--sub-text-color);
  font-weight: 600;
  font-size: 14px;
}

.msg-mini-spinner circle {
  fill: var(--sub-text-color);
}

.name-inputs {
  display: flex;
  gap: 16px;
  width: 100%;
}

.name-inputs input {
  width: 100%;
}

@media (max-width: 900px) {
  .login {
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 200px;
    height: fit-content;
  }
  .register {
    align-items: center;
    justify-content: center;
  }
  .register-text {
    width: fit-content;
  }
}

@media (max-width: 400px) {
  .login {
    min-width: 280px;
  }
}
