.cta-item {
  width: 100%;
  min-width: 72px;
  transition: 0.4s;
}

.cta-btn:focus {
  outline-offset: -1px;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 8px;
}

.cta-bg {
  border-radius: 0 8px 8px 0;
  background: var(--main-gradient);
  overflow: visible;
}

.cta-btn {
  border-radius: 0 8px 8px 0;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  padding: 16px;
  border: none;
  transition: backdrop-filter 0.4s;
  align-items: start;
}

.cta-btn:hover {
  backdrop-filter: brightness(120%);
}

.cta-icon-box {
  width: 60px;
  height: 24px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.cta-icon {
  line-height: 0;
  font-size: 15px;
  color: #f5f5f5;
}

.cta-text-btn {
  width: 100%;
  font-weight: 700;
  color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;
}

@keyframes exit {
  0% {
    display: inline-flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .cta-btn {
    flex-direction: row;
  }
  .cta-text-btn {
    font-size: 16px;
  }
}
